.container-footer {
    background-color: aqua;
    margin-top: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}



